@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  /* Apply a light gray whitish background gradient */
  background: linear-gradient(180deg, rgb(234, 235, 225), rgb(255, 240, 231)) fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient {
  background: linear-gradient(180deg, rgb(252, 255, 225), rgb(243, 219, 204)) fixed;
}


.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.5rem;
}
