@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  /* Apply a light gray whitish background gradient */
  background: linear-gradient(180deg, rgb(234, 235, 225), rgb(255, 240, 231)) fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient {
  background: linear-gradient(180deg, rgb(252, 255, 225), rgb(243, 219, 204)) fixed;
}