{% extends 'base.html' %}
{% load static %}
{% block main %}

<main class="max-w-4xl mx-auto">
    <article class="px-2 sm:px-6 lg:px-8">
        <header class="border-b py-12">
            <h1 class="font-extrabold text-4xl text-gray-900">{{ article.title }}</h1>
            <div class="mt-4 text-xl text-gray-600">
                {{ article.meta_description }}
                <div class="mt-4">
                    {% for i in article.topic.all %}
                    <a class="text-xs bg-gray-900 text-gray-300 p-1 font-semibold rounded"
                        href="{% url 'category' i.slug %}">
                        {{ i.title }}</a>
                    {% endfor %}
                </div>
                <img class="mt-6 rounded-lg" src="{{ article.image.url }}" alt="{{ article.title }}">
        </header>
        <div class="py-6 sm:py-12 prose prose-indigo">
            {{ article.body|safe }}
        </div>
    </article>
</main>

{% endblock %}